[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "==6.0.1"
pyhamcrest = "==2.0.2"
pytest-cov = "==2.10.0"
pdoc3 = "==0.8.4"

[packages]

[scripts]
docs-gen = "pdoc --html core test --output-dir build/docs --force"
docs-view = "firefox build/docs/core/index.html build/docs/test/index.html"
test = "python -m pytest --cov-report term --cov=core test/"
test-cov = "python -m pytest --cov-report html:build/test --cov=core test/"
test-view = "firefox build/test/index.html"

[requires]
python_version = "3.8.5"
